@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root{
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
 
 }
 /* variables*/
 
 /* Reset */
 
 *{
   margin: 8px;
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 8px;
   box-sizing: border-box;
   
 }
 
 body{
     background-color: #C6AC80;
     font-family: "Poppins";
    

 }

 a{
      text-decoration: none;
 }
 ul{
      list-style: none;
 }
 
 /* nav bar */
 

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}




.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #302e2e, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #C6AC80;
  height: 70px;
  padding: 1em;
  
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* Image */
.k1-container {
   max-width: 100%;
   min-width: 200px;
   box-sizing: inherit;
  height: auto;
}









 .grid {
    display: grid;
    grid-template-columns: no repeat;
    grid-gap: 1rem;
  }
  .grid > div {
    background: #0c0c0c;
    -webkit-text-fill-color:    #fdfbff;
    padding: 2.0rem;
    border-radius: 1rem;
  }
  body {
    margin: 2rem;
    font: 22px system-ui;
  }
 
 
 #page-container {
    position: relative;
    min-height: 100vh;
 }
 
 #content-wrap {
   padding-bottom: 2.5rem;
 
 }
 
 #footer{
    position:absolute
 
 }
 
 /* Footer */
 
 /* Contact form */

 body {font-family: Arial, Helvetica, sans-serif;}
 * {box-sizing: border-box;}
 
 input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }
 
 input[type=submit] {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 input[type=submit]:hover {
   background-color: black;
 }
 
 .container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }












 
/* Social Media */
body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
  
  
 
 
 /* Screen Devices */
 
 /* ----------- iPhone 4 and 4S ----------- */
 
 /* Portrait and Landscape */
 @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 480px)
   and (-webkit-min-device-pixel-ratio: 2) {
   }
    
   /* ----------- Galaxy S3 ----------- */

   /* Portrait and Landscape */
 @media screen 
 and (device-width: 360px) 
 and (device-height: 640px) 
 and (-webkit-device-pixel-ratio: 2) {
}

 /* ----------- Laptop Non-Retina Screens ----------- */
 @media screen 
 and (min-device-width: 1200px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 1){
  

 
 } 

/* ----------- Retina Screens ----------- */
 @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}







 /* ----------- iPad 1, 2, Mini and Air ----------- */
 
 /* Portrait and Landscape */
 @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

