@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


/*Body*/

body {

background-color: rgb(116, 126, 158);
margin: 10rem;
margin-top: 10rem;
margin-right:10rem;
margin-bottom:10rem;
margin-left: 10rem;
padding: 60x;
font-family: 'Poppins';
}





#h1 {
  background-color: black;
   color: white;
   float: right;
   text-align: center;
   text-size-adjust: 10px;

}




.header {
   background-color:rgb(255, 255, 255);
   margin: 20;
   padding: 50px;
}




#k1 {
   background-color: rgb(211, 207, 205);


}

#shift {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #e7691f;
  color: white;
  font-family: Arial, sans-serif;
  padding: -1em;
  text-align: center;

}


grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-gap: 1rem;
 }
 .grid > div {
   background: #EDE7F6;
   padding: 2.0rem;
   border-radius: 1rem;
 }
 body {
   margin: 2rem;
   font: 13px system-ui;
 }


#page-container {
   position: relative;
   min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;

}

#footer{
   position:absolute

}

   